.modal {
    width: 350px;
    position: relative;
}

@media (max-width: 1023px) {
    .modal {
        width: 260px;
    }
}

.modal__contact {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.modal__contact:hover {
    text-decoration: underline;
}
