.modal {
    width: 350px;
    position: relative;
}

@media (max-width: 1023px) {
    .modal {
        width: 260px;
    }
}

.modal__contact {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.modal__contact:hover {
    text-decoration: underline;
}

.error-message {
    color: #ff3333;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
    display: none;
}

.modal__input:invalid,
.modal__textarea:invalid {
    border-color: #ff9999;
}

.modal__input:valid,
.modal__textarea:valid {
    border-color: #ccc;
}

.result-message {
    padding: 20px;
}